+++
title = "Allpix Squared"
+++

{{< blocks/cover title="Welcome to Allpix Squared: A Generic Pixel Detector Simulation Framework" image_anchor="top" height="full" color="gray" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn more
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Latest updates
	</a>
	<p class="lead mt-5">Simulate silicon tracker and vertex detectors with an easy-to-use application.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
{{% allpix %}} is a generic simulation framework for silicon tracker and vertex pixel detectors written in modern C++.
The goal of the {{% allpix %}} framework is to provide a complete and easy-to-use package for simulating the
performance of detectors from incident ionizing radiation until the digitization of hits in the detector chip.
{{% /blocks/lead %}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-wrench" title="Features" url="/about/features" %}}
Take a look at the main features of {{% allpix %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Publications" url="/about/publications" %}}
Take a look at the reference publications for {{% allpix %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-image" title="Screenshots" url="/about/screenshots" %}}
Take a look at some of the beautiful plots created with {{% allpix %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}
