$primary: #02a9a2;
$secondary: #018c87;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;

$td-enable-google-fonts: true;

.section {
    @extend .td-max-width-on-larger-screens;
}
